## SERVER ENVIRONMENT
APP_PORT=3535 # The port on which the application will run

## DB ENVIRONMENT
DB_URI = "mongodb://root:MongoAdmin123.@127.0.0.1:27017/estatutoDB?directConnection=true&authSource=admin"
# The connection string for the MongoDB database

## JWT ENVIRONMENT
JWT_SECRET="aajiern!!lLJCWN5846545183AAAPjglPIOPEJDD"   # Secret key used for signing JSON Web Tokens (JWT)
JWT_EXPIRATION_TIME="10m"  # Expiration time in m(minutes), s(seconds), d(days) for JWT tokens
JWT_REFRESH_TOKEN_SECRET="762323vfsb4w!!!srnyAsesbCCCCRWC"  # Secret key used for signing refresh tokens
JWT_REFRESH_EXPIRATION_TIME="10d"  # Expiration time in m(minutes), s(seconds), d(days) for refresh tokens

## ACTIVATION ENVIRONMENT
JWT_ACTIVATION_TOKEN_SECRET="fwerewfvw32fsdc**CTWgfbxxefdsvb!134235"  # Secret key used for activate user (JWT)
JWT_ACTIVATION_TOKEN_EXPIRATION_TIME="5m"  # Expiration time in m(minutes), s(seconds), d(days) for activation user JWT tokens

API_FRONT="http://localhost:4000" # Frontend API URL
